
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#postModal"><span class="fa fa-share-square-o"></span> Share a post!</button>

<div style="color:black" class="modal" id="postModal" tabindex="-1" role="dialog"
aria-labelledby="postModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="postModalLabel">Share a post to your followers!</h4>
    </div>
    <div class="modal-body">

      <%= form_for(@post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_area :content, placeholder: "Compose new post...", class:"form-control" %>
        </div>
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
    </div>
  </div>
</div>
</div>
