<span class="fa-stack fa-lg fa-2x pull-right" style="color:rgba(170, 76, 57,1)">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-heart fa-stack-1x"></i>
</span>
<h3>
  Favorited
</h3>
<hr>
<% if activity.trackable %>
  <h4>Added <%= link_to image_tag("#{activity.trackable.summoner.icon}", height:"40px", width:"40px" ) + "#{activity.trackable.summoner.name}", "summoners/"+activity.trackable.summoner.name + "/"+ activity.trackable.summoner.region  %>
    to their favorites!</h4>
  <p>
   <%= time_ago_in_words(activity.created_at) %> ago.
  </p>
<% else %>
  which has since been removed
<% end %>
